<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign up</title>
</head>
<body>

    <h1>Sign up!</h1>
    <form action ="/newuser" method = "POST">
        Username: <input type = "text" name ="username"><br>
        Password: <input type = "password" name ="passwordhere"><br>
        First Name: <input type = "text" name ="fistName"><br>
        Last Name: <input type = "text" name ="lastName"><br>
        Date of Birth:<input type = "date" name ="dateOfBirth"><br>
        Bio: <input type = "text" name ="bio"><br> <!-- TODO: refactor with textarea -->
        <input type="submit">
    </form>
</body>
</html>